
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.main__dsg {
  display: inline-block;
  font-size: 5rem;
  letter-spacing: 5px;
  border-right: 2px solid #ffffff;

  @media (min-width: 1000px) {
    border-right-width: 10px;
    font-size: 20rem;
    letter-spacing: 20px;
  }
}

.main__scroll {
  position: absolute;
  font-size: 1.4em;
  height: 50px;
  bottom: 40px;

  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}
