
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.main__dsg {
  position: relative;
}

.main__title {
  display: inline-block;
  font-size: 8em;
  letter-spacing: 5px;

  @media (min-width: 1000px) {
    font-size: 15em;
    letter-spacing: 20px;
  }
}

.main__cursor {
  position: absolute;
  width: 2px;
  height: 100%;
  right: -20px;
  top: 0;
  background-color: #ffffff;

  @media (min-width: 1000px) {
    width: 10px;
  }
}

.main__scroll {
  position: absolute;
  height: 50px;
  bottom: 40px;
  cursor: pointer;
}

.main__scroll-text {
  font-size: 1.4em;
}

.main__scroll-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #ffffff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
