.about {
  display: flex;
  align-items: center;
}

.skills {
  font-size: 1.4em;
  max-width: 365px;
  margin: 40px auto;

  @media (max-width: 1000px) {
    font-size: 1em;
  }
}

.skill__item {
  margin: 20px 0;
  display: flex;
}

.skill__name {
  margin: 0 10px;
}

.skill__icon {
  margin: 0 20px;
}

.skill__actually {
  margin: 0 10px;

  &.--working {
    color: rgb(0, 112, 28);
  }

  &.--not-working {
    color: #ff0000;
  }
}
